<div class="columns">
  <div class="column is-half">
    <%= form_with(model: live, local: true) do |form| %>
      <div class="field">
        <%= form.label :subject, class: 'label' %>
        <%= form.text_field :subject, class: 'input' %>
      </div>

      <div class="field">
        <%= form.label :description, class: 'label' %>
        <%= form.text_area :description, class: 'textarea' %>
      </div>

      <div class="actions">
        <%= form.submit 'Sugerir', class: 'button is-primary' %>
      </div>
    <% end %>
  </div>
</div>