<p id="notice"><%= notice %></p>

<h1>Lives</h1>

<table>
  <thead>
    <tr>
      <th>Assunto</th>
      <th>Descrição</th>
      <th>Autor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lives.each do |live| %>
      <tr>
        <td><%= link_to live.subject, live %></td>
        <td><%= live.description %></td>
        <td><%= live.author.name %></td>

        <% if live.author == current_user %>
          <td><%= link_to 'Edit', edit_live_path(live) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Sugerir Live', new_live_path %>
