<h3 class="is-size-3">Lives</h3>

<table class="table is-striped">
  <thead>
    <tr>
      <th>Votar</th>
      <th>Assunto</th>
      <th>Descrição</th>
      <th>Autor</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lives.each do |live| %>
      <tr>
        <td>

          <span class='tag is-warning'><%= live.votes_count %></span>

          <% if @voted_lives.include?(live) %>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>

            <%= link_to 'Anular', votes_path(live_id: live.id), method: :delete,
                class: 'button is-danger is-small' %>

          <% else %>
            <%= link_to 'Votar', votes_path(live_id: live.id), method: :post, 
                class: 'button is-danger is-outlined is-small' %>
          <% end %>
        </td>
        <td><%= link_to live.subject, live %></td>
        <td><%= live.description %></td>
        <td><%= live.author.name %></td>

        <% if live.author == current_user %>
          <td><%= link_to 'Edit', edit_live_path(live), class: 'button is-warning' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Sugerir Live', new_live_path, class: 'button is-danger is-rounded' %>
