<h3 class="is-size-3">Lives</h3>

<table class="table is-striped">
  <thead>
    <tr>
      <th>Votar</th>
      <th><%= t 'activerecord.attributes.live.subject' %></th>
      <th><%= t 'activerecord.attributes.live.description' %></th>
      <th><%= t 'activerecord.attributes.live.author' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lives.each do |live| %>
      <tr>
        <td>

          <span class='tag is-info is-normal'><%= live.votes_count %></span>

            <% if @voted_lives.include?(live) %>
              <%= link_to '✓',
              vote_path(live.votes.where(user: current_user).first),
              method: :delete, class: 'button is-success is-small' %>
            <% else %>
              <%= link_to '✓', votes_path(live_id: live.id),
              method: :post, class: 'button is-small' %>
            <% end %>
        
        </td>

        <td><%= link_to live.subject, live %></td>
        <td><%= live.description %></td>
        <td><%= live.author.name %></td>

        <% if live.author == current_user %>
          <td><%= link_to 'Editar', edit_live_path(live), class: 'button is-warning' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Sugerir Live', new_live_path, class: 'button is-danger is-rounded' %>
